
SENTRY_POSTGRES_HOST=postgres
SENTRY_DB_USER=sentry
SENTRY_DB_PASSWORD=sentry
SENTRY_REDIS_HOST=redis

# OPTIONAL: If you want GitHub integration
GITHUB_APP_ID=#FILL ME IN
GITHUB_API_SECRET=#FILL ME IN
GITHUB_EXTENDED_PERMISSIONS=["repo"]

# OPTIONAL: Include if Sentry is available over HTTPS
SENTRY_SECRET_KEY='TEFLRkRMS0RTSkZMS1NESkZMS1NKRES'

SENTRY_ADMIN_EMAIL=admin@admin.com
SENTRY_URL_PREFIX=localhost
SENTRY_WEB_HOST=localhost
